.venv/
__pycache__/
build/
dist/
.pytest_cache
.tox
.eggs
.coverage
.coverage.*
.cache
.pytest_cache
.nox
.mypy_cache
.nox
.hypothesis
.ipynb_checkpoints
.pytest_cache
/.conda
/*.spec
/logs/*.log
test_dist/simple_test.exe
test_dist/test_xml_app.exe
