.venv/
__pycache__/
build/
dist/
.pytest_cache
.tox
.eggs
.coverage
.coverage.*
.cache
.pytest_cache
.nox
.mypy_cache
.nox
.hypothesis
.ipynb_checkpoints
.pytest_cache
/.conda
/*.spec
/logs/*.log
test_dist/simple_test.exe
test_dist/test_xml_app.exe
project_config.json
YOLO.json
.gui_cache/modules_059b6e4d4ea8b6eef43b6f93466667e1.json
.gui_cache/modules_23066e794638e5ebdd439ea53dd7cbc9.json
.pyinstaller_cache/modules_23066e794638e5ebdd439ea53dd7cbc9.json
config.json

cache/f2fd802e95c5c69005f3e71d115612ec.cache
cache/e56148d84de44af03966a4b8c8f55669.cache
cache/61d3706f3c27436d2145dd2254c89bb2.cache
cache/1a85f2b191a5237695b416063eabe35c.cache
cache/cache_index.json
config.json
.precise_cache/*
*.cache
.precise_gui_cache/*
cache/*
performance_cache/*
config.json
